<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="vitrine Lunette OwlEyewear">
        <meta name="keywords" content="Lunette, nuit, correction, voiture, Owl Eyewear">
        <meta name="author" content="Zachari BLINN et Rommanirs Mer">
        <meta name="viewport" content="width=device-width, initial-scale=0.1, shrink-to-fit=no">
        <link rel="icon" type="image/x-icon" href="{{ asset('/build/images/favicon.5ee79b31.ico') }}"/>
        <title>{% block title %}OwlEyewear-Boutique{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }} 
            {{ encore_entry_link_tags('basesStyle') }}
            {{ encore_entry_link_tags('global') }}
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% endblock %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151174461-1%22%3E"</script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-151174461-1');
        </script>
    </head>
    <body>
        <nav class="navbar navbar-expand-xl navbar-custom">
            <div class="container-fluid">
                <ul class="nav-item mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Revenir sur la page s'accueil</a>
                    </li>
                </ul>
            </div>
        </nav>

        <img class="headLogo" src="{{ asset('/build/images/OWL_logo.5da53e41.png') }}" align="middle">

        <nav class="navbar navbar-expand-xl navbar-custom">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" > 
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/"><i class="fa fa-home"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('product_index') }}">Catalogue</a>
                        </li>
     
                        <class="nav-item">
                            <a class="nav-link" href="{{ path('cart_index') }}">Panier</a>
                        </class>

                       
                    </ul>
                </div>
        </div>
    </nav>


        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>

        

 
</html>
